<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">Spacetime</a></h1>
  </nav>

<body>
    <h1> Your request will be processed soon.</h1> 
   <br>
   <br>
    <div>
        <ul>
            <% console.log(details) %>
            <!-- <% details.imagepath  = "../" + details.imagepath %> -->
            <% console.log(details)%>

            <!-- <li><img src= <%-details.imagepath%> ></li> -->
   <br>

            <li>Name : <%= details.name %></li>
   <br>

            <li>Email : <%= details.email %></li>
   <br>

            <li>Password : <%= details.password %></li>
   <br>
<header>
        <a href="/" class="btn">Home page</a> 
</header>
        </ul>
    </div>
</body>


<%- include('partials/footer'); -%>