<%- include('partials/header'); -%>

<% tempnfts.forEach((e)=>{ %>
  <div class="smoothie">
    <ul>
        <h3>Name: <%= e.name %></h3>
        <br>
        <h3>Description: <%= e.description %></h3>
        <br>
        <h3>Cap: <%= e.cap %></h3>
        <br>
        <h3>Price: <%= e.price %></h3>
        <br>
        <h3>Perks: </h3>
        <br>
        <% e.perks.forEach((f)=> { %>
        <h4>Title1: <%= f.get("title1") %></h4>
        <h4>Title2: <%= f.get("title2") %></h4>
        <h4>Details: <%= f.get("details") %></h4>
        <br>
        <% });%>
        <div>
          <li><button onClick="accept(this)" name="accept" data-arg1 = <%- e.id %>>Accept</button></li>
          <li><button onclick="reject(this)" name="reject" data-arg1 = <%- e.id %>>Reject</button></li> 
        </div>
    </ul>
  </div>

  <hr>
<br>
<% }) %>

<%- include('partials/footer'); -%>


<script>
  async function accept (instance){
    console.log("accept");
    console.log(instance.getAttribute('data-arg1'));
    const id = instance.getAttribute('data-arg1');

    const res = await fetch('/accept_nft', { 
        method: 'POST', 
        body: JSON.stringify({ id: id }),
        headers: {'Content-Type': 'application/json'}
    });

      const data = await res.json();
      if(data.accept){
        location.reload();
      }
  }

  async function reject (instance){
    console.log("reject");
    console.log(instance.getAttribute('data-arg1'));
    const id = instance.getAttribute('data-arg1');

      const res = await fetch('/reject_nft', { 
        method: 'POST', 
        body: JSON.stringify({ id: id }),
        headers: {'Content-Type': 'application/json'}
      });

      const data = await res.json();
      if(data.reject){
        location.reload();
      }
  }


</script>
