<%- include('partials/header'); -%>

<% applicants.forEach((e)=>{ %>
  <div class="smoothie">
    <ul>
        <img src="<%-e.image%>">
        <br>
        <br>
        <h3>Name: <%= e.name %></h3>
        <br>
        <h3>Email: <%= e.email %></h3>
        <br>
        <h3>Statement of Purpose: <%= e.reason %></h3>
        <br>
        <!-- <img src="<%- e.resume%>"> -->
        <h4><a class='btn' href="<%- e.resume%>">View Resume</a></h4>
        <div>
          <!-- <li><button onClick="accept(this)" name="accept" data-arg1 = <%- e.id %>>Accept</button></li> -->
          <li><button onclick="reject(this)" name="reject" data-arg1 = <%- e._id %>>Reject</button></li> 
        </div>
    </ul>
  </div>

  <hr>
<br>
<% }) %>

<%- include('partials/footer'); -%>


<script>

  async function reject (instance){
    console.log("reject");
    console.log(instance.getAttribute('data-arg1'));
    const id = instance.getAttribute('data-arg1');

      const res = await fetch('/reject_applicant', { 
        method: 'POST', 
        body: JSON.stringify({ id: id }),
        headers: {'Content-Type': 'application/json'}
      });

      const data = await res.json();
      if(data.accept){
        location.reload();
      }
  }
</script>
